@font-face {
    font-family: 'Galien';
    src: url("../fonts/Galien\ Regular.ttf");
}

@font-face {
    font-family: 'Gilroy' sans-serif;
    font-weight: 400;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    font-weight: 200;
    src: url("../fonts/Gilroy-UltraLight.ttf");
}


$container: 940px;
$containerForHeader: 1200px;
$containerSmall: 860px;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gilroy";
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
}

.header {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0.2) 31.12%);
        opacity: 0.2;
        z-index: 1;
    }
    &__container {
        position: relative;
        z-index: 3;
        width: 100%;
        max-width: $containerForHeader;
        margin: 0 auto;
        &::before {
            content: "";
            position: absolute;
            top: 99.7px;
            right: -60px;
            width: 687px;
            height: 612px;
            background-image: url("../images/backgroundForHeader.png");
        }
        &__menu {
            padding-top: 40px;
            margin-bottom: 101px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & button {
                background: none;
                border: none;
            }
        }
        &__body {
            width: 100%;
            max-width: $container;
            margin: 0 auto;
            padding-bottom: 190px;
            position: relative;
            z-index: 4;
            & h1 {
                font-family: 'Galien';
                font-size: 64px;
                line-height: 74px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                margin-bottom: 32px;
            }
            & p {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #1F3F68;
                opacity: 0.6;
                margin-bottom: 71px;
            }
            & a {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.04em;
                color: #fff;
                background: #5A98D0;
                box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
                border-radius: 10px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 48px;
                padding-right: 48px;
            }
        }
    }
}

.ourAction {
    padding-top: 180px;
    padding-bottom: 212px;
    &__container {
        width: 100%;
        max-width: $container;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-column-gap: 100px;
        &__column:first-of-type > div:last-of-type {
            margin-left: 80px;
            & > div:first-of-type img {
                margin-left: 74px;
            }
        }
        &__column:last-of-type {
            display: flex;
            align-items: end;
            flex-direction: column;
            & > div:first-of-type {
                margin-bottom: 100px; 
                & > div:first-of-type {
                    top: -22px;
                    & img {
                        margin-left: 78px;
                    }
                }
            }
            & > div:last-of-type {
                & > div:first-of-type img {
                    margin-left: 100px;
                }
            }
        }
        &__column__headline {
            margin-bottom: 158px;
            & h1 {
                font-size: 36px;
                line-height: 46px;
                letter-spacing: 0.05em;
                color: #316099;
            }
        }
        &__column__block {
            width: 100%;
            max-width: 380px;
            background: #FFFFFF;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            position: relative;
            box-sizing: border-box;
            padding-top: 236px;
            padding-bottom: 48px;
            padding-left: 48px;
            &__img {
                width: 100%;
                position: absolute;
                top: 48px;
                left: 0;
            }
            &__headline {
                margin-bottom: 16px;
                & h1 {
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: 0.05em;
                    color: #1F3F68;
                }
            }
            &__text {
                margin-bottom: 32px;
                & p {
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #1F3F68;
                    opacity: 0.6;
                }
            }
            &__link a {
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 0.05em;
                color: #5A98D0;
                & img {
                    margin-left: 24px;
                }
            }
        }
    }
}

.ourClient {
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
    padding-top: 96px;
    &__container {
        width: 100%;
        max-width: $container;
        margin: 0 auto;
        margin-bottom: 125px;
        &__header {
            width: 100%;
            max-width: $containerSmall;
            display: flex;
            justify-content: space-between;
            margin-bottom: 111px;
            & h1 {
                font-size: 36px;
                line-height: 46px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
            & p {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                opacity: 0.6;
            }
        }
        &__client {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            &__block {
                text-align: center;
                padding-top: 41px;
                padding-bottom: 41px;
                & p {
                    font-size: 20px;
                    line-height: 46px;
                    letter-spacing: 0.02em;
                    color: #F2F2F2;
                }
            }
            & > div:nth-of-type(1) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(2) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(3) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(4) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(5) {
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(6) {
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(7) {
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(8) {
                background-color: rgba(31, 63, 104, 0.2);
            }
        }
    }
    &__footer {
        width: 100%;
        max-width: 1366px;
        margin: 0 auto;
        &__container {
            width: 100%;
            max-width: 1270px;
            background: #316099;
            border-radius: 0px 200px 0px 0px;
            padding-top: 91px;
            padding-bottom: 64px;
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: $containerSmall;
                margin-left: 213px;
                margin-bottom: 96px;
                &__block h1 {
                    font-size: 36px;
                    line-height: 46px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    margin-bottom: 32px;
                }
                &__block p {
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    opacity: 0.6;
                }
                &__block button {
                    background: #5A98D0;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 75px;
                    padding-right: 74px;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.04em;
                    color: #FFFFFF;
                }
            }
            &__hr {
                width: 100%;
                max-width: 1073px;
                height: 1px;
                background-color: #fff;
                opacity: 0.4;
                margin-bottom: 97px;
            }
            &__footer {
                width: 100%;
                max-width: 737px;
                margin-left: 213px;
                &__part1 {
                    margin-bottom: 64px;
                    display: flex;
                    justify-content: space-between;
                    & > div:first-of-type > div:first-of-type {
                        display: flex;
                        align-items: center;
                        & a:first-of-type {
                            display: flex;
                        }
                        & a:last-of-type {
                            margin-left: 15px;
                            font-size: 28px;
                            line-height: 46px;
                            letter-spacing: 0.02em;
                            color: #FFFFFF;
                        }
                    }
                    & > div:first-of-type > div:last-of-type ul li {
                        margin-left: 35px;
                    }
                    & > div:first-of-type > div:last-of-type ul li:nth-of-type(1)::before {
                        content: "А.";
                        position: absolute;
                        left: -35px;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                    }
                    & > div:first-of-type > div:last-of-type ul li:nth-of-type(2)::before {
                        content: "T.";
                        position: absolute;
                        left: -35px;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                    }
                    & > div:first-of-type > div:last-of-type ul li:nth-of-type(3)::before {
                        content: "E";
                        position: absolute;
                        left: -35px;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                    }
                    &__block {
                        &__headline {
                            margin-bottom: 32px;
                            & a {
                                font-size: 20px;
                                line-height: 30px;
                                letter-spacing: 0.05em;
                                color: #FFFFFF;
                            }
                        }
                        &__body ul li {
                            margin-bottom: 16px;
                            position: relative;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                            & a {
                                font-size: 16px;
                                line-height: 26px;
                                letter-spacing: 0.05em;
                                color: #FFFFFF;
                                font-family: "Gilroy-UltraLight", sans-serif;
                            }
                        }
                    }
                }
                &__part2 p {
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    opacity: 0.4;
                    font-family: "Gilroy-UltraLight", sans-serif;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000082;
    z-index: 1000;
    display: none;
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        padding: 56px;
        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
            & i {
                font-size: 30px;
                cursor: pointer;
            }
        }
        &__headline {
            margin-bottom: 48px;
            & h1 {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
            }
        }
        &__form {
            width: 428px;
            &__input {
                margin-bottom: 32px;
            }
            &__input:nth-of-type(3) {
                margin-bottom: 72px;
            }
            &__input:nth-of-type(4) {
                margin-bottom: 0;
            }
            &__input label {
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.8;
            }
            &__input input {
                width: 100%;
                box-sizing: border-box;
                outline: none;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: rgba(31, 63, 104, 0.2);
                padding-top: 21px;
                padding-left: 36px;
                padding-right: 36px;
                padding-bottom: 21px;
                border: 1px solid rgba(53, 110, 173, 0.4);
                border-radius: 10px;
            }
            &__input textarea {
                width: 100%;
                height: 144px;
                box-sizing: border-box;
                outline: none;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: rgba(31, 63, 104, 0.2);
                padding-top: 21px;
                padding-left: 36px;
                padding-right: 36px;
                box-sizing: border-box;
                border: 1px solid rgba(53, 110, 173, 0.4);
                border-radius: 10px;
            }
            &__input input[type=button] {
                background: #5A98D0;
                box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.04em;
                color: #FFFFFF;
            }
        }
    }
}

.modalSucces {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000082;
    z-index: 1000;
    display: none;
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        padding: 56px;
        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
            & i {
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
}

.modal_js {
    display: block;
}

.modalSucces_js {
    display: block;
}

.body_js {
    overflow: hidden;
}

@media screen and (max-width: 1320px) {
    .header__container::before {
        right: 0;
    }
}

@media screen and (max-width: 1220px) {
    $containerForHeader: 1000px;

    .header__container {
        max-width: $containerForHeader;
    }

    .ourClient__footer__container__header {
        margin-left: 113px;
    }

    .ourClient__footer__container__hr {
        max-width: 973px;
    }

    .ourClient__footer__container__footer {
        margin-left: 113px;
    }
}

@media screen and (max-width: 1050px) {
    $container: 840px;
    $containerSmall: 760px;

    .header__container__body {
        max-width: $container;
    }

    .ourAction__container  {
        max-width: $container;
        &__column__block {
            max-width: 360px;
        }
        &__column:first-of-type > div:last-of-type > div:first-of-type img {
            margin-left: 54px;
        }
        &__column:last-of-type > div:first-of-type > div:first-of-type img {
            margin-left: 58px;
        }
        &__column:last-of-type > div:last-of-type > div:first-of-type img {
            margin-left: 80px;
        }
    }

    .ourClient__container {
        max-width: $container;
        &__header {
            max-width: $containerSmall;
        }
    }

    .ourClient__footer__container__header {
        max-width: $containerSmall;
    }
    
    .ourClient__footer__container__hr {
        max-width: 873px;
    }
}

@media screen and (max-width: 1020px) {
    $container: 740px;
    $containerForHeader: 800px;

    .header__container {
        max-width: $containerForHeader;
        &__body {
            max-width: $container;
        }
    }

    .ourAction__container {
        max-width: $container;
        &__column:first-of-type > div:last-of-type {
            margin-left: 0;
        }
    }

    .ourClient__container {
        max-width: $container;
        &__header h1 {
            font-size: 32px;
        }
    }

    .ourClient__footer__container__header {
        margin-left: 63px;
    }

    .ourClient__footer__container__hr {
        max-width: 823px;
    }

    .ourClient__footer__container__footer {
        margin-left: 63px;
    }
}

@media screen and (max-width: 840px) {
    .ourClient__footer__container__header {
        max-width: 660px;
        align-items: baseline;
        flex-direction: column;
        &__block p {
            margin-bottom: 32px;
        }
    }

    .ourClient__footer__container__hr {
        max-width: 723px;
    }

    .ourClient__footer__container__footer {
        max-width: 637px;
    }
}

@media screen and (max-width: 820px) {
    $containerForHeader: 600px;
    $container: 540px;

    .header__container {
        max-width: $containerForHeader;
        &::before {
            content: none;
        }
    }

    .ourAction__container {
        max-width: 360px;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        &__column__headline {
            margin-bottom: 50px;
        }
        &__column:last-of-type {
            align-items: baseline;
        }
        &__column:last-of-type > div:first-of-type {
            margin-bottom: 50px;
        }
    }

    .ourClient__container {
        max-width: $container;
        &__header {
            flex-direction: column;
        }
        &__client {
            grid-template-columns: repeat(3, 1fr);
            & > div:nth-of-type(3) {
                border-right: none;
            }
            & > div:nth-of-type(4) {
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(5) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(6) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                border-right: none;
            }
        }
    }

    .ourClient__footer__container__header {
        max-width: 460px;
    }

    .ourClient__footer__container__footer {
        max-width: 537px;
        &__part1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    .modal__container__form {
        width: 328px;
    }
}

@media screen and (max-width: 620px) {
    $containerForHeader: 400px;
    $container: 440px;

    .header__container {
        max-width: $containerForHeader;
        &__body h1 {
            font-size: 38px;
            line-height: 48px;
        }
        &__body p {
            font-size: 15px;
            line-height: 25px;
        }
    }

    .ourClient__container {
        max-width: $container;
        &__client {
            grid-template-columns: repeat(2, 1fr);
            & > div:nth-of-type(2) {
                border-right: none;
            }
            & > div:nth-of-type(3) {
                border-right: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(4) {
                border-right: none;
            }
            & > div:nth-of-type(5) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }
            & > div:nth-of-type(6) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                border-right: none;
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .ourClient__footer__container__footer {
        max-width: 437px;
        &__part1 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media screen and (max-width: 550px) {
    .modal__container__form {
        width: 228px;
    }
}

@media screen and (max-width: 540px) {
    .ourClient__footer__container__header {
        margin-left: 23px;
    }

    .ourClient__footer__container__footer {
        margin-left: 23px;
    }
}

@media screen and (max-width: 500px) {
    .ourClient__container {
        max-width: 340px;
    }

    .ourClient__footer__container__header {
        max-width: 400px;
    }

    .ourClient__footer__container__footer {
        max-width: 340px;
    }
}

@media screen and (max-width: 425px) {
    .ourClient__footer__container__header {
        max-width: 340px;
    }
}

@media screen and (max-width: 400px) {
    .ourClient__container {
        max-width: 320px;
    }
}